*{
	font-family: 'Fresca', sans-serif;
}

/*Navbar styles */

.navbar-default{
	background-color:  #455A64;
	
	}

.navbar-default .navbar-brand {
    color: white;

}	


.navbar-default .navbar-brand:hover {
    color: white;

}	



.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 25px;
    
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}



#logo{
	width: 250px;
	height: 50px;
	
	overflow: none;

	}



/* Ends here */

/* REGISTER HERE */


#register{
	 margin: 100px; width: 35%; margin-left: 32%;
	box-shadow: 0px 0px 10px #888888;
	box-sizing: border-box;
}

#loginimg{
	width: 100%;
	margin-top:1px; 
}



/* footer styles */
footer{
	background-color: #455A64;
	color: white;
	font-size: 30px;
	min-height: 100px;

}