<div id="portal">
			  <div class="mdl-card mdl-shadow--2dp" >
			    <div class="mdl-card__media"><img src="images/loginimg.jpg" width="330" height="157" border="0">
			    </div>
			    <div class="mdl-card__supporting-text">
			      <h4><strong>Sign In</strong></h4>
			    </div>
			    <div class="mdl-card__supporting-text">
			     
			      <div class="mdl-textfield mdl-js-textfield">
			        <input class="mdl-textfield__input" type="email" id="email">
			        <label class="mdl-textfield__label" for="email">E-mail</label>
			      </div>

			      <div class="mdl-textfield mdl-js-textfield">
			        <input class="mdl-textfield__input" type="password" id="password">
			        <label class="mdl-textfield__label" for="password">Password</label>
			      </div>

			      <button id="login-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored  mdl-js-ripple-effect">Sign In</button>
            	<button id="register-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored  mdl-js-ripple-effect">Register Now</button>
            
			      <div id="login-progress" class="mdl-spinner mdl-js-spinner is-active"></div>

			    </div>
			  </div>
			</div>