<nav class="navbar navbar-default navbar-fixed-top" >

	  <div class="container-fluid" >
	    <div class="navbar-header">

	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      
	      <a class="navbar-brand" href="#" id="logo">
	      	<span><img src='images/fire.png' style="width: 60px;height: 55px; margin-right: 10px; "></span>
	      	<span style=" font-size: 30px;">FireBook</span>
	      </a>
	      
	    </div>

	    <div class="collapse navbar-collapse" id="myNavbar" >
	     	
	     	 <ul class="nav navbar-nav navbar-right">
		        <li style="margin:10px; ">
		        	<input type="text" class="form-control" placeholder="Email">
		        </li>
		        <li style="margin:10px; ">
		        	<input type="Password" class="form-control" placeholder="Password">
		        </li>
		        <li style="margin:10px; ">
		        	<button class="btn btn-info" ng-click='signin()'>Sign In</button>
		        </li>
		     </ul>

	    </div>  

	  </div>
	</nav>


	<div class="container" id="register">
		
		<img src="images/loginimg.jpg" id="loginimg" class="img-responsive img-rounded img-thumbnail">
		<h3 class="text-center">Register Here</h3><hr>
		<form>
			<input type="text" class="form-control" placeholder="Name" ng-model='name' required><br>
			<input type="text" class="form-control" placeholder="Email" ng-model='email' required><br>
			<input type="Password" class="form-control" placeholder="Password" ng-model='password' required><br>
			<input type="Password" class="form-control" placeholder="Password-Again" ng-model='password_again' required><br>
			<button class="btn btn-info" ng-click='reg()'>Register</button><br>
		</form>
		<br>
	</div>


<footer >
	<div class="container text-center">
		<h3>Copyright &copy; Jeetesh Gupta 2017</h3>
	</div>
</footer>	
